@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.footer {
  min-height: mobile-vh(150px);
  width: 100%;
  background: #000;

  @include desktop {
    border-top: 3px solid var(--tertiary-variant);
    min-height: desktop-vh(300px);
  }
}
