@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.input {
  border: 2px solid var(--secondary-variant);
  // height: mobile-vw(40px);
  width: 100%;
  color: var(--secondary-variant);
  padding: mobile-vw(8px) mobile-vw(8px);
  font-size: mobile-vw(16px);
  border-radius: 4px;
  border: 2.5px solid var(--secondary-variant);
  background-color: var(--tertiary-variant);

  &::placeholder {
    color: var(--secondary-variant);
  }

  @include desktop {
    // height: desktop-vw(48px);
    padding: desktop-vw(16px) desktop-vw(8px);
    font-size: desktop-vw(19px);
  }
}
