@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  @include desktop {
  }
}

.logo {
  position: relative;
  aspect-ratio: 1;
  height: mobile-vw(24px);
  width: auto;
  margin-inline: auto;
  margin-bottom: mobile-vw(16px);
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }

  @include desktop {
    margin-bottom: desktop-vw(16px);
    height: desktop-vw(40px);
  }
}
