@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.container {
  width: 100%;
  height: var(--nav-height);
  position: fixed;
  z-index: 10;
  // border-bottom: 2px solid var(--tertiary-variant);
}

.wrap {
  position: relative;
  max-width: var(--layout-width);
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: var(--nav-height);
}

.menu-btn {
  background: #fff;
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #d3531a;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
  }

  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 18px;
  }

  span:nth-child(3) {
    top: 36px;
  }
}

.options {
  display: flex;
  align-items: center;
  gap: desktop-vw(40px);
}

.links {
  visibility: hidden;

  @include desktop {
    display: flex;
    visibility: visible;
    align-items: center;
    gap: desktop-vw(40px);
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: calc(var(--nav-height) - desktop-vw(48px));
  }
}

.logo-wrap {
  aspect-ratio: 97.492 / 76.228;
  height: calc(var(--nav-height) - mobile-vw(40px));
  @include mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  @include desktop {
    margin-left: mobile-vw(3px);
    height: calc(var(--nav-height) - desktop-vw(48px));
  }
}

.logo {
  position: relative;
  aspect-ratio: 97.492 / 76.228;
  height: 100%;
  width: auto;
  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}

.btn {
  appearance: button;
  border: 2px solid var(--primary-variant);
  color: var(--primary-variant);
  background-color: transparent;
  border-radius: 5px;
  margin-right: mobile-vw(5px);
  cursor: pointer;
  display: inline-block;
  font-family: var(--heading-font);
  line-height: 1;
  font-size: mobile-vw(12px);
  overflow: visible;
  padding: mobile-vw(8px) mobile-vw(8px);
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &:focus {
    text-decoration: none;
  }

  &:hover {
    background-color: var(--primary-variant);
    color: var(--secondary-variant);
  }

  @include desktop {
    font-size: desktop-vw(15px);
    padding: desktop-vw(12px) desktop-vw(32px);
    margin-right: desktop-vw(5px);
  }
}

.border-bot {
  border-bottom: solid 3px var(--tertiary-variant);
}
