@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  appearance: button;
  background-color: transparent;
  color: var(--primary-variant);
  border: 2px solid var(--primary-variant);
  border-radius: 50%;
  margin-right: mobile-vw(5px);
  height: calc(var(--nav-height) - mobile-vw(16px));
  width: calc(var(--nav-height) - mobile-vw(16px));
  svg {
    height: calc(var(--nav-height) - mobile-vw(40px));
    width: calc(var(--nav-height) - mobile-vw(40px));
    fill: var(--tertiary-variant);
  }

  &:hover {
    background-color: var(--primary-variant);

    svg {
      fill: var(--secondary-variant);
    }
  }

  @include desktop {
    width: calc(var(--nav-height) - desktop-vw(24px));
    height: calc(var(--nav-height) - desktop-vw(24px));
    margin-right: desktop-vw(5px);

    svg {
      height: calc(var(--nav-height) - desktop-vw(56px));
      width: calc(var(--nav-height) - desktop-vw(56px));
    }
  }
}
