@use '@/styles/abstracts/_index' as *;
@use '@/styles/base/_media' as *;

.menu {
  min-height: calc(100vh - var(--nav-height));
}

.options {
  display: flex;
  gap: mobile-vw(8px);
  .btn {
    background-color: var(--secondary-variant);
    border: 2.5px solid var(--tertiary-variant);
    border-radius: 4px;
    // box-shadow: #000 4px 4px 0 0, var(--tertiary-variant) 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: var(--heading-font);
    line-height: 20px;
    font-size: 15px;
    overflow: visible;
    padding: desktop-vw(8px) desktop-vw(32px);
    text-align: center;
    text-transform: capitalize;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;

    &:focus {
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
    }

    &:not([disabled]):active {
      box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
      transform: translate(2px, 2px);
    }

    // @media (min-width: 768px) {
    //   padding: 12px 50px;
    // }
  }

  .active {
    // box-shadow: rgba(0, 0, 0, 0.125) 0 3px 5px inset;
    outline: 0;
    background-color: var(--tertiary-variant);
    color: var(--secondary-variant);
    border: 2.5px solid;
  }

  @include desktop {
    gap: desktop-vw(24px);
  }
}

.menu-items {
  margin-top: mobile-vw(64px);

  @include desktop {
    margin-top: desktop-vw(128px);
  }
}
